---
layout: default
title: MOXK.net
---

<img id="logo" src="/img/logo/moxk.png" alt="MOXK.net">

<h2 style="margin-top: 18px;">Bem vindo(a)! 👋</h2>
<p>Olá! Eu sou <b>Filipe Mosca</b> e esse é meu blog. Sou médico, recifense <img rel="Bandeira de Recife" src="/img/recife1.png" height="13" style="display: inline; margin: 0;">, pernambucano <img rel="Bandeira de Recife" src="/img/pe1.png" height="13" style="display: inline; margin: 0;">, brasileiro 🇧🇷 e aqui escrevo sobre <b>medicina, urbanismo, trens e simuladores de trens, futebol, Linux, cinema, boardgames, livros...</b> e o que mais der vontade.</p>

<p>Meu plano é escrever aqui semanalmente sobre o tema que estiver no meu interesse no momento. Possuo vários hobbys e meu maior hobby é sempre descobrir um hobby novo. <b>Sugestões? Você pode entrar em contato pelo email no fim da página</b>.</p>

<h2>Minhas redes:</h2>
<ul id="icons">
  <li>🐦 <a href="https://twitter.com/filipemosca" target="blank">Twitter</a></li>
  <li>🐘 <a rel="me" href="https://mastodon.green/@moxk">Mastodon</a></li>
  <li>🎥 <a href="https://letterboxd.com/filipemosca/">Letterboxd</a></li>
  <li>🎲 <a href="https://boardgamegeek.com/user/filipemosca">Board Game Geek</a></li>
  <li>💻 <a href="https://github.com/filipemosca">Github</a></li>
</ul>

<h2>Páginas</h2>
<ul>
  <li><a href="/pages/aoe2">Age of Empires 2 (AoE2)</a></li>

</ul>

<h2>Blog</h2>
<ul id="blog_posts">
{% for post in site.posts %}
  <li>
    <span><a href="{{ post.url }}">{{ post.title }}</a></span>
    <br>
    <span class="post_date">{{ post.date | date: "%d-%m-%Y" }} <span class="{{ post.category }}">#{{ post.category }}</span></span>

  </li>
{% endfor %}
</ul>



<!-- <h2>Lendo:</h2>
<div style="display: inline-block;">
  <img style="float: left; padding-right: 10px;" src="/img/Livros/numeros-do-jogo.jpeg" alt="Capa do livro que estou lendo">
  <p style="margin-top: 0;">Atualmente estou lendo o livro <b><em>"Os números do jogo: Por que tudo o que você sabe sobre futebol está errado"</em></b> sobre aplição de análise estatística no futebol. O livro traz questionamentos interessantes como: será que escanteios são realmente chances perigosas de gol? Será que trocar de técnico quando o time vai mal traz benefícios? O futebol é talento ou sorte?</p>
</div> -->


<!-- <h2>Futebol ⚽</h2>
<p>Ano de copa!!! Torço pro <img src="/img/futebol/nau_favicon.png" alt=""> <a style="color: red" href="https://pt.wikipedia.org/wiki/Clube_N%C3%A1utico_Capibaribe">Clube Náutico Capibaribe</a> e aqui escrevo minhas análises amadoras do futebol do Náutico e da <img src="/img/futebol/cbf_favicon.png" alt=""> <span style="color: green">Seleção Brasileira</span>.</p>

{% for page in site.categories.futebol %}
  <span>{{ page.date | date_to_string }} — <a href="{{ page.url }}">{{ page.title }}</a></span><br>
{% endfor %}

<h2>Medicina ⚕</h2>
<p>Faço medicina e me formo esse ano. Aqui escrevo sobre minhas rotinas, coisas que aprendi, etc.</p>

{% for page in site.categories.medicina %}
  <span>{{ page.date | date_to_string }} — <a href="{{ page.url }}">{{ page.title }}</a></span><br>
{% endfor %} -->
