<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
	<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
		<!-- <span><strong>MOXK.net</strong> </span> -->
		<strong><a href="/">MOXK.net</a></strong> •
		<a href="/Blog/evolucao">Blog</a> •
		<a href="/feed.xml">Feed</a> •
		<a href="/Computadores/blogroll">Blogroll</a> •
		<a href="/uso">Uso</a> •
		<a href="/sobre">Sobre</a>
      <hr />
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
		<br />
    	<hr />
		<span>MOXK.net &copy; 2019-2999 <br />
		 <a href="https://validator.w3.org/check?uri=moxk.net"><img
		  src="https://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional"
		   height="31" width="88" /></a></span>
    </footer>
  </body>
</html>
