body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    font-family: Verdana, Helvetica, sans-serif;
}
h1 {text-align: center;}
h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, Serif;
}
h2 {margin-bottom: 4px; margin-top: 10px;}
dl {margin-top: 2px;}
dt {font-weight: bold;}
nav {display: block; text-align: center;}
footer {text-align: center;}
/* nav a {text-align: right;} */
