<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel='shortcut icon' type='image/x-icon' href='/medruas/favicon.ico'/>
  </head>
  <body>
    <span><a href="/">Jardim</a></span> •
    <span><a href="/medruas">MedRuas</a></span> •
    <span><a href="/sobre">Sobre</a></span>
    <h1>{{ page.title }}</h1>
    {{ content }}
  </body>
</html>
