body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    font-family: Verdana, Helvetica, sans-serif;
}
nav {display: block; text-align: center;}
.dot {color: red;}
header {
    max-width: 700px;
    display: block;
    margin: 0 auto;
    text-align:center;
}
header img {
    margin: 0 auto;
    max-width: 95%;
    margin: 7px;
}
footer {text-align: center;}
.box {max-width: 400px; margin: 30px auto;}

h1 {text-align: center; font-size: 2em;}
h2 {margin-bottom: 4px; margin-top: 10px;}
dl {margin-top: 2px;}
dt {font-weight: bold;}
li::marker {
  color: red;
}
