---
layout: default_en
---

<h1>{{ page.title }}</h1>
<span style="color: gray;">Published: {{ page.date | date_to_string }}</span><br>
{% if page.modified %}
<span style="color: gray;">Modified at: {{ page.modified | date: "%d-%m-%Y" }}</span>
{% else %}
{% endif %}

{{ content }}

<h2>Comments?</h2>

<p>This site does not support a comment box, so if you want to comment something, just send me an email to <a href="mailto:filipe@moxk.net?subject='Comentário em {{ page.title }}">filipe@moxk.net</a> with the subject <code>Comment on {{ page.title }}</code> saying what I thought of the post.</p>
